#recipe{:title "Sample"
        :description "A sample recipe that shows all current features"
        :inputs #inputs[[:user {:var "name" :default "default"}]
                        [:set {:var "set-value" :with "Value"}]
                        [:set {:var "name2" :from "name"}]]
        :instructions #instructions[[:create {:filepath "./sample-output.txt" :template "<t>/sample.template"}]]}
