#recipe{:title "Sample"
        :description "A sample recipe that shows all current features"
        :inputs #inputs[[:user {:var "name" :default "default"}]
                        [:set {:var "set-value" :with "Value"}]
                        [:set {:var "name2" :from "name"}]
                        #_[:aws_secret {:var "shhh" :name "sample" :profile "<profile>"}]]
        :instructions #instructions[[:create {:filepath "./sample-output.txt" :template "<t>/sample.template"}]
                                    [:update {:filepath "./sample-output.txt" :template "<t>/sample_update.template" :target "<< TARGET >>"}]
                                    [:nvim {:filepath "./sample-output.txt" :commands "norm! GoHello from NVIM"}]]}
