# local
!recipes

# git
.git

# Vim
*.swp
tags

# Stow
!stow/clojure/.clojure
stow/nvim/.config/nvim/sessions
stow/zsh/.oh-my-zsh
stow/fzf/.fzf
stow/clojure/.clojure/.clj-kondo
stow/clojure/.clojure/.cpcache
stow/clojure/.clojure/.lsp
stow/clojure/.clojure/tools/tools.edn
stow/tmux/.tmux-themepack
stow/nvim/.config/nvim/lua/dotfiles/
