extends javascript

snippet p5f "p5.js global function"
	import p5 from 'p5';
	
	export default function `!p snip.rv = snip.basename`(s: p5) {
		return () => {
			$1
		};
	}

snippet int "Typescript Interface"
	interface $1 {
		$2
	}
