extends javascript

snippet rc "React functional component"
	function $TM_FILENAME_BASE(${1:props}) {
		return (
			<div className="$TM_FILENAME_BASE">
				$2
			</div>
		);
	}

	export default $TM_FILENAME_BASE;
