extends javascript

snippet rc "React functional component"
	import React from 'react';
	
	const `!p snip.rv = snip.basename`: React.FC = ($1) => {
	  return (
	    $2
	  );
	}
	
	export default `!p snip.rv = snip.basename`;
