snippet def "Defines a var"
(def $1 $2)
endsnippet

snippet defn "Defines a function"
(defn $1
  "$2"
  [$3]
  $4)
endsnippet

snippet defp "Defines a protocol"
(defprotocol $1
  "$2"
  ($3))
endsnippet

