snippet req "CommonJS Require"
const ${3:{$2}} = require('$1');
endsnippet

snippet mc "Multiline JSDoc Comment"
/**
 * $1
 */
endsnippet

snippet fna "Async Lambda Function"
async ($1) => { $2 }
endsnippet

snippet fn "Lambda Function"
($1) => { $2 }
endsnippet

snippet me "Module exports"
module.exports.$1 = $2
endsnippet
