snippet req "CommonJS Require"
const ${3:{$2}} = require('$1');
endsnippet

snippet mc "Multiline JSDoc Comment"
/**
 * $1
 */
$0
endsnippet

snippet fna "Async function"
async ($1) => {
  $2
}
endsnippet
