{:source-paths ["src"]
 :dependencies [[org.clojure/tools.cli "1.1.230"]
                [cider/cider-nrepl "0.24.0"]]
 :builds
 {:cli
  {:target    :node-script
   :main      aljendro.cli.core/-main
   :output-to "bin/t"
   :compiler-options
   {:optimizations :simple}}}}
