{:name "ts/basic.edn"
 :description "Generates a basic ts project."
 :input [["-n" "--name NAME" "Name of project to add"
          :missing "You must provide a name for the file to add with -n or --name"]
         ["-d" "--description DESCRIPTION" "Description of project"
          :missing "You must provide a description for the file to add with -d or --description"]
         ["-h" "--help" "Show help"]]
 :steps
 [{:fn :create-file
   :input {:file-name "{{input.name}}/tsconfig.json"
           :template "ts/tsconfig.txt"}}
  {:fn :create-file
   :input {:file-name "{{input.name}}/package.json"
           :template "ts/package.txt"}}
  {:fn :create-file
   :input {:file-name "{{input.name}}/src/main.ts"
           :template "ts/main.txt"}}
  {:fn :create-file
   :input {:file-name "{{input.name}}/.prettierrc"
           :template "ts/prettier.txt"}}
  {:fn :create-file
   :input {:file-name "{{input.name}}/.eslintrc.json"
           :template "ts/eslint.txt"}}
  {:fn :create-file
   :input {:file-name "{{input.name}}/start_project.local.sh"
           :template "general/start_project.txt"}}
  {:fn :create-file
   :input {:file-name "{{input.name}}/README.md"
           :template "general/README.txt"}}
  {:fn :create-file
   :input {:file-name "{{input.name}}/.ignore"
           :template "general/ignore.txt"}}]}

