{:name "add-file"
 :description "A simple file adder"
 :input [["-n" "--name NAME" "Name of file to add"
          :missing "You must provide a name for the file to add with -n or --name"]
         ["-h" "--help" "Show help"]]
 :steps
 [{:id :create-init-file
   :fn :create-file
   :input {:file-name "{{input.name}}.txt"
           :template "sample.txt"
           :cwd "{{env.DOTFILES_DIR}}/files/generators"}}
  {:fn :nvim
   :input {:file-name "{{input.name}}.txt"
           :cwd "{{env.DOTFILES_DIR}}/files/generators"
           :macro "/somee\"bP"
           :registers {:a {:template "sample.txt" :type :linewise}
                       :b {:template "nested/sample.txt" :type :charwise}
                       :c {:text "This is regular text {{input.name}}" :type :linewise}}}}]}


